@import "../styles.scss";

.header {

   .notification-tab {
      @include simple-flex(center, center, row);

      &-follow {
         color: $color-fill;
      }

      &-you {
         border-bottom: 2px solid $text-color;
         position: relative;
         top: 1px;
      }

      p {
         padding: 12px;
         line-height: 21px;
         width: 180px;
         text-align: center;
         font-weight: 600;
      }
   }

   .follow-requests {
      line-height: 20px;
      padding: 14px 16px;
      border-top: 1px solid $border-btn;
      border-bottom: 1px solid $border-btn;
      font-weight: 100;
   }
}

.notification-info {
   height: 100%;
   overflow-y: auto;

   &::-webkit-scrollbar {
      display: none;
   }

   p {
      padding: 13px 16px 8px;
   }

   .container-info {
      @include simple-flex(space-between, center, row);
      padding: 8px 16px;
      position: relative;

      .user-pic {
         @include box-round(44px);
      }

      .user-pic-top {
         position: absolute;
         top: 28px;
         left: 22px;
         border: 2px solid #fff;
      }

      .user-pic-bottom,
      .user-pic-top {
         @include box-round(32px);
      }

      .notification-text {
         font-size: 13px;
         margin-right: auto;
      }

      .lighter-text {
         color: $color-fill;

         img {
            width: 12px;
            padding: 14px 14px 0 0;
         }
      }

      .liked-pic {
         width: 44px;
         height: auto;
      }

      button {
         @extend %btn;
      }

      .btn-msg {
         @extend %light-border;
         background: $background-primary;
         padding: 5px 15px;
      }

      .btn-follow {
         background: $highlight-color;
         color: $background-primary;
         padding: 5px 23px;
      }
   }
}