@import "../styles.scss";

.header {
   @include simple-flex(space-between, center, row);

   .name-container {
      @include simple-flex(center, center, row);
      margin: auto;
      padding-left: 55px;

      .author-name {
         padding: 11px 6px;
      }

      .arrow-down {
         color: black;
         font-weight: bold;
      }
   }

   .menu-icon {
      padding: 13px;
      width: 20.5px;
      height: 17.5px;
   }
}

.ig-stats-container {
   @include simple-flex(space-around, center, row);
   padding: 12px 0;


   .profile-pic {
      position: relative;
      width: 86px;
   }

   .stats-number {
      @include simple-flex(center, center, column);
   }

   p {
      font-size: 13px;
   }
}

.user-info {
   font-size: 12px;
   color: $text-color;
   padding: 5px 16px 14px;

   p {
      padding: 1px 0;
   }
}

.btn {
   @include simple-flex(center, center, row);

   button {
      @extend %btn,
      %light-border;
      border-radius: 6px;
      background: $background-primary;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      width: 93%;
      // width: 342px;
      height: 29px;
      margin: auto;
      margin-bottom: 10px;

      &:focus {
         outline-style: none;
      }
   }
}


.search-container {
   @include simple-flex(space-around, center, row);
   flex-wrap: wrap;

   img {
      width: 123px;
      height: 120px;
      padding: .5px;
      margin: 0;
   }

   @media (max-width: 374px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1px;

      img {
         max-width: 100%;
         height: auto;
      }
   }
}