$background-primary: #fafafa;
$background-secondary: #f2f2f2;
$background-tertiary: rgba(118, 118, 128, 0.12);

$text-color: #262626;
$color-fill: #979797;
$border-btn: rgba(60, 60, 67, 0.18);
$highlight-color: #3797ef;